<header th:fragment="header">
    <div class="container">
        <nav>
            <ul class="brand">
                <li><a th:href="@{/}" class="logo">MIG Store</a></li>
            </ul>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a class="sales" href="/">Promoções</a></li>
                <li><a class="pc" href="/">PC</a></li>
                <li><a class="console" href="/">Console</a></li>
                <li><a class="mobile" href="/">Mobile</a></li>
            </ul>
            <ul class="nav-list">
                <li><a class="logout" th:href="@{~/logout}">Sair</a></li>
            </ul>
        </nav>
    </div>
</header>
