<header class="header" th:fragment="header">
    <nav class="navbar">
        <a class="navbar-logo" href="">GamingStore</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="navbar-list">
            <li><a href="/">Promoções</a></li>
            <li><a href="/">PC</a></li>
            <li><a href="/">Consoles</a></li>
            <li><a href="/">Mobile</a></li>
            <li><a href="/">Search</a></li>
        </ul>
    </nav>
</header>
